<h1>CabConfigs#show</h1>
<p>Find me in app/views/cab_configs/show.html.erb</p>

<h1>SHOW</h1>

<p>
<strong>height</strong>
<%=@cab_config.height%>
</p>
<p>
<strong>width</strong>
<%=@cab_config.width%>
</p>
<p>
<strong>depth</strong>
<%=@cab_config.depth%>
</p>
<p>
<strong>style</strong>
<%=@cab_config.style%>
</p>
<p>
<strong>shelf_qty</strong>
<%=@cab_config.shelf_qty%>
</p>
<p>
<strong>drawer_qty</strong>
<%=@cab_config.drawer_qty%>
</p>
<p>
<strong>cupboard_qty</strong>
<%=@cab_config.cupboard_qty%>
</p>
<p>
<strong>Back Panel</strong>
<%=@cab_config.back_panel%>
</p>
<p>
<strong>Collection</strong>
<%=@cab_config.collection.name%>
</p>

<%= link_to "Edit", edit_cab_config_path %>

<%= link_to "Add to cart", cart_items_path(cab_config_id: @cab_config.id), method: :post %>


