<h1>Hello<%= current_user.profile.name%> </h1>

<h2><%=@profile.name %> </h2>

<h2><%=@profile.user_type %> </h2>

<%= link_to 'Edit Profile', edit_profile_path %>

<%= link_to 'My Saved Designs', private_index_cab_configs_path(collection: @collection) %>

