<div class="form">

<%= form_with model:@cab_config, local:true do |form| %>
<% if @cab_config.errors.any? %>
    <div class="error_explanation">
      <h2><%= pluralize(@cab_config.errors.count, "error") %> prohibited this listing from being saved:</h2>
      <ul>
        <% @cab_config.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div>
    <%= form.label :collection_id %>
    <%= form.select :collection_id, options_for_select(Collection.all.collect {|u| [u.name, u.id]}, :selected => Collection.first) %>
  </div>
  
  <div>
    <%= form.label :height %>
    <%= form.number_field :height, :value => @cab_config.height %>
  </div>
  <div>
    <%= form.label :width %>
    <%= form.number_field :width, value: @cab_config.width %>
  </div>
  <div>
    <%form.label :depth%>
    <p>Cabinet Depth:<p>
    
    <%CabConfig.depths.keys.each do |depth|%>
      <%=form.label depth %>
      <%=form.radio_button :depth, depth %>
     
    <%end%>
  </div>
 
   <div>
    <%form.label :colour%>
    <%CabConfig.colours.keys.each do |col|%>
      <%=form.label col %>
      <%=form.radio_button :colour, col %>
      
     
    <%end%>

    
  </div>

  
  <div>
    <%= form.label :shelf_qty %>
    <%= form.number_field :shelf_qty, value: @cab_config.shelf_qty%>
  </div>
  <div>
    <%= form.label :drawer_qty%>
    <%= form.number_field :drawer_qty, value: @cab_config.drawer_qty%>
  </div>
  <div>
    <%= form.label :cupboard_qty %>
    <%= form.number_field :cupboard_qty %>
  </div>



  <div>
    <%= form.radio_button(:back_panel, true) %>
    <%= form.label(:back_panel_true, "I want a back panel") %>
    <%= form.radio_button(:back_panel, false) %>
    <%= form.label(:back_panel_false, "Leave the cabinet back open") %>
    
  </div>
  <div>
    <%form.label :style%>
    <%CabConfig.styles.keys.each do |style|%>
      <%=form.label style %>
      <%=form.radio_button :style, style %>
     
    <%end%>
  </div>
   
  
  <%= form.submit %>

<% end %>
</div>
