<!DOCTYPE html>
<html>
  <head>
    <title>UdouCabs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="small-nav">
    <div class="logout-option">
      <%if user_signed_in? %>
        <%=link_to 'logout', destroy_user_session_path, method: :delete %>        
          <p>Logged in as: <strong><%=current_user.profile.name%></strong></p>
        <%= link_to 'Profile', profile_path %>
        <%else%>
          <%= link_to 'login', new_user_session_path%>
        <%end%>
      
    </div>
  </div>
  <div class="nav-wrapper">
    <div class="logo">
      <h1>Nav</h1>
    </div>
  
    <div class="links">
      <%= link_to 'home', root_path  %>
      <%= link_to 'Collections', collections_path %>
      <%= link_to 'new collection', new_collection_path if current_user.profile.user_type == 'admin' %>
      <%= link_to 'all Cabs', cab_configs_path %>
      <%= link_to "new cab", new_cab_config_path if current_user.profile.user_type == 'admin'%>      
    </div>
  </div>
    <%= yield %>
  </body>
  <%= render 'shared/footer'%>
</html>
